<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="styles.css">
<meta name="description" content="Artifact | 2FA">
<title>Artifact | Admin</title>
<link rel="shortcut icon" type="image/jpg" href="/public/icon.png"/>
<body class="background">
   <div class="element-users">
      <%if (messages.error) { %>
         <% messages.error %>
         <% } %>
         <h2 style="text-align: center; margin: 0; color: red; font-weight: bold;">Admin Panel</h2>
         <h5 style="text-align: center; margin: 0;">Please note all admin actions are logged accordingly</h5>
         <hr class="black">
      <div class="card" style="height: 350px; width: 850px;">
         <p style="text-align: center; margin: 0;">You are accessing the panel through the account <b><%= name %></b>, By agreeing to this you achknowledge that 
            you are responsible for any actions permitted within this panel, and become liable against any actions against abuse of power or computer misuse. 
            If you disagree or want to exit this menu then you can <a href="/index">return home</a>.</p>
            <hr>
         <h3 style="text-align: center; margin: 0; color: red; font-weight: bold;">Available Utilities</h3>
         <div style="text-align: center; margin: auto;">
            <a href="/admin">
               <button class="singlebutton btn btn-primary" style="width: 300px; margin: 0;">Manage Users</button>
            </a>
            <a href="/logs">
               <button class="singlebutton btn btn-primary" style="width: 300px; margin: 0;">View Logs</button>
            </a>
         </div>
   </div>
   </div>  
</body>