<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="styles.css">
<meta name="description" content="Artifact | 2FA">
<title>Artifact | Page not found</title>
<link rel="shortcut icon" type="image/jpg" href="/public/icon.png"/>
<body class="background">
   <div class="element2">
      <h2 style="text-align: center; color: white;">Oops!</h2>
      <h2 style="text-align: center; color: white;">The page you requested could not be found.</h2>
      <hr class="black" style="width: 225px;">
      <a href="/index">
      <button class="singlebutton btn btn-primary" style="width: 300px;">Go Home</button>
      </a>
   </div>
</body>